@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background: #fafafa;
}


.register-container {
  display: flex;
  height: 100vh;
}

.register-left, .register-right {
  flex: 1;
}

.register-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;         
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}


.register-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px 40px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 45px;   
  width: auto;   
}

.logo-text h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #8A252C;  
}

.logo-text p {
  margin: 0;
  font-size: 13px;
  color: #FFCF01;
}

.back-link {
  color: #8A252C;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}


.register-card {
  background: #fff;
  max-width: 420px;           
  margin: 40px auto;          
  padding: 40px 30px;
  border-radius: 16px;       
  box-shadow: 0px 8px 30px rgba(0,0,0,0.15);
}

.register-card h1 {
  text-align: center;
  color: #8A252C;
  margin-bottom: 10px;
  font-size: 40px;
}

.register-card .description {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
  font-size: 15px;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-weight: 600;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 14px;
}


.name-fields {
  display: flex;
  gap: 10px;
}

.name-fields .field {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.btn-register {
  background: #8A252C;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-weight: 600; 
  font-family: 'Kumbh Sans', sans-serif; 
  margin-top: 20px;
  cursor: pointer;
  font-size: medium;
}

.btn-register:hover {
  opacity: 0.9;
}


.signup-text{
  text-align: center;
}

.signup-text a {
  color: #8A252C;  
  text-decoration: none;  
  font-weight: 600; 
}

.signup-text a:hover {
    text-decoration: underline;
}