{% extends "ArcasysApp/events.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ArcasysApp/css/events.css' %}" />
<link rel="stylesheet" href="{% static 'ArcasysApp/css/admin_dashboard.css' %}" />
{% endblock extra_css %}

{% block results_header_content %}
<div class="results-header-admin">
    <div class="results-header-top">
        <h2>Event Results</h2>
        <a href="#" class="btn add-event">Add Event</a>
    </div>
    
    <div class="results-header-bottom">
        <p class="results-meta">Showing 10 of 197 events (Page 1 of 20)</p>
        <span class="results-date">2025 | September</span>
    </div>
</div>
{% endblock results_header_content %}

{% block admin_actions_1 %}
<div class="tags-and-actions-row">
    
    <div class="tags">
        <span class="tag green">SSO</span>
        <span class="tag green">LeadTheFuture</span>
        <span class="tag green">Organizations</span>
    </div>
    
    {# ADMIN ACTIONS INLINE #}
    <div class="admin-actions-inline">
        <a href="#" class="action-btn export">Export</a>
        <a href="#" class="action-btn edit">Edit</a>
        <a href="#" class="action-btn delete">Delete</a>
    </div>
</div>
{% endblock admin_actions_1 %}


{% block admin_actions_2 %}
<div class="tags-and-actions-row">
    
    <div class="tags">
        <span class="tag green">LeadTheFuture</span>
        <span class="tag green">redefinethetop</span>
        <span class="tag green">CITTopsAgain</span>
        <span class="tag green">CITforSDG</span>
    </div>
    
    {# ADMIN ACTIONS INLINE #}
    <div class="admin-actions-inline">
        <a href="#" class="action-btn export">Export</a>
        <a href="#" class="action-btn edit">Edit</a>
        <a href="#" class="action-btn delete">Delete</a>
    </div>
</div>
{% endblock admin_actions_2 %}